<header>
  <div class="header-logo">
    <a href="/">FamilyTweet</a>
  </div>
  <ul class="header-menus">
   <a href="/show">FamilyTweetとは</a>
  </ul>
</header><div class="main top-main">
  <div class="top-message">
    <h2>つぶやきで、家族はつながる</h2>
    <P>こんな時こそ、</p>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>