<header>
  <div class="header-logo">
    <a href="/">FamilyTweet</a>
  </div>
  <ul class="header-menus">
    <a href="/show">FamilyTweetとは</a>
  </ul>
</header>
<div class="about-main">
  <h2>FamilyTweetとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
   <img class="about-img" src="/IMG-0972.jpg">
</div>