.main.about-main.maim-main
  %h2 FamilyTweetとは
  %p
    お家で過ごす時間が増えたこのご時世！！<br>
    家族の仲がより深まるかと思いきや、逆にギスギスした仲になっていませんか？<br>
    顔をあわせて言えないことも、このアプリを使ってつぶやきましょー！！<br>
  .class
    %img(src="/IMG-0972.jpg")